{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
      

  </head>
  <body>



       {% block content%}
      
       <div class="bg-dark text-white align-middle" >
         
                      <div class="d-flex justify-content-center" >
                            <img  src="{% static "MyPortfolio/images/profile.JPG" %}"  class="rounded-circle mt-4" alt="Cinque Terre" width="140" height="140">
                      </div>



                  <div class="d-flex justify-content-center mt-2">

                          <div class="text-center">
                              <h1><i>Divyanshu Gaur</i></h1>
                              <h3><small>Software Engineer @ TCS</small></h3>
                              
                          </div>
              </div>

              </div>

              <div class="container mt-5">


                    <div class="row justify-content-md-center">
                      <div class="col-md-auto">
                          <h6><b>About Me</b></h6>
                          <p>Divyanshu Gaur is a Computer Engineer graduated with honours degree in 2020.Working as a Software Engineer at Tata Consultancy Services since then. Java , SQL ,ETL with Talend and Unix are majors at TCS.
                             He loves to explore new technologies and working on Python with Django and Data Science along side.
          
                          </p>
                      </div>
                    
                    </div>


                    <div class="row justify-content-md-center mt-3">
                      <div class="col-md-auto">
                          <h6><b>Let's Connect</b></h6>
                      </div>
                    
                    </div>

                    </div>



                    <div class="container">
                    <div class="row justify-content-md-center mt-2">
                      <div class="col-4">
                   
                      </div>         
                    

                      <div class="col-md-auto">
                        <a href= "https://www.github.com/DivyanshuGaur">
                          <img src="https://img.icons8.com/material-outlined/452/github.png"
                           width="30" height="30" title="git" alt="hub"></a>


                           &nbsp<a href="https://www.linkedin.com/in/divyanshu-gaur-a52138174/">
                            <img src="https://img.icons8.com/color/2x/linkedin.png" width="30" 
                            height="30" title="linked" alt="in"></a>


                             <a href= "mailto:divyanshugaur14@gmail.com">
                              <img src="https://cdn0.iconfinder.com/data/icons/education-340/100/Tilda_Icons_1ed_mail-512.png"
                               width="30" height="30" title="git" alt="hub"></a>
                      </div> 


                      <div class="col-4">
                   
                      </div> 
                    </div>

                  </div>

              



                    




              </div>









        {% endblock %}





  </body>
</html>